body {
  font-family: 'Lato', sans-serif;
}

#logo {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #FFFFFF;
}

.nav-background {
  background-color: #118C4E;
}

#login-button-text {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #585858;
}

#logout-button-text {
  display: none;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #585858;
}

.jumbotron {
  text-align: center;
  background-image: url(./images/mt-rushmore-web.jpg);
  background-repeat: no-repeat;
  margin-top: -20px;
  min-height: 450px;
  max-height: 450px;
  px;
  background-size: 100%;
  background-color: #cccccc;

}


#landing-page-headline {
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: #118C4E;
}

#landing-page-subhead {
  font-size: 28px;
  color: #585858;
}

#landing-page-buttons {
  margin: 0 auto;
}

#landing-page-login-button {
  background-color: #FF9009;
  border-color: #FF9009;
  width: 100px;
}

#landing-page-reg-button {
  background-color: #FF9009;
  border-color: #FF9009;
  width: 100px;
}

.landing-page-col-text {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: #585858;
}

.form-control {
  width: 300px;
}

/*    --------------------------------------------------
  :: Login Form Section
  -------------------------------------------------- */
#log-in-form {
  display: inline;
}

#login {
  padding-top: 50px;
}
#login .form-wrap {
  width: 30%;
  margin: 0 auto;
}
#login h1 {
  color: #118C4E;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}
#login .form-group {
  margin-bottom: 25px;
}
#login .btn.btn-custom {
  font-size: 16px;
  margin-bottom: 20px;
}

/*    --------------------------------------------------
  :: Login Form Inputs & Buttons
  -------------------------------------------------- */
.form-control {
  color: #212121;
}
.btn-custom {
  color: #fff;
  background-color: #FF9009;
}
.btn-custom:hover,
.btn-custom:focus {
  color: #fff;
}

/*    --------------------------------------------------
  :: Registration Form Section
  -------------------------------------------------- */
#registration-form {
  display: inline;
}

#register {
  padding-top: 50px;
}
#register .form-wrap {
  width: 30%;
  margin: 0 auto;
}
#register h1 {
  color: #118C4E;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}
#register .form-group {
  margin-bottom: 25px;
}
#register .btn.btn-custom {
  font-size: 16px;
  margin-bottom: 20px;
}

#login-submit-button {
  background-color: #FF9009;
  border-color: #FF9009;
}

#reg-submit-button {
  background-color: #FF9009;
  border-color: #FF9009;
}

.modal-title {
  color: #118C4E;
  font-size: 26px;
}

/*    --------------------------------------------------
  :: Registration Form Inputs & Buttons
  -------------------------------------------------- */
.form-control {
  color: #212121;
}
.btn-custom {
  color: #fff;
  background-color: #FF9009;
}
.btn-custom:hover,
.btn-custom:focus {
  color: #fff;
}


#show-activity-list {
  background-color: #FF9009;
  border-color: #FF9009;
}
